
<div id="ProductCreate" class="container" >
<div class="container">
    <form>
        <div class="form-group">
                <label for="productName">商品名稱:</label>
                <input type="text" class="form-control" v-model="ProductName" id="productName">
        </div>
        <div class="form-group">
            <label for="productCategoryId">商品種類:</label>
                <input type="text" class="form-control" v-model="ProductCategoryId" id="productCategoryId">
        </div>
        <div class="form-group">
                <label for="supplierId">廠商編號:</label>
                <input type="text" class="form-control" v-model="SupplierId" id="supplierId">
        </div>
            <div class="form-group">
                <label for="productUnitPrice">價格:</label>
                <input type="text" class="form-control" v-model="ProductUnitPrice" id="productUnitPrice">
            </div>
            <div class="form-group">
                <label for="unitStock">庫存數量:</label>
                <input type="text" class="form-control" v-model="UnitStock" id="unitStock">
            </div>
            <div class="form-group">
                <label for="productStatus">商品狀態:</label>
                <input type="text" class="form-control" v-model="ProductStatus" id="productStatus">
            </div>
        
        <button type="button" class="btn btn-success" @@click="insertProduct">新增商品</button>
    </form>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script>
    var ProductCreate = new Vue({
        el: "#ProductCreate",
        name: "ProductCreate",
        data: {
            ProductName: null,
            ProductCategoryId: null,
            SupplierId: null,
            ProductUnitPrice: null,
            UnitStock: null,
            ProductStatus: null,

        },
        methods: {
            insertProduct: function () {
                let _this = this;
                var request = {};
                request.ProductName = _this.ProductName;
                request.ProductCategoryId = parseInt(_this.ProductCategoryId);
                request.SupplierId = parseFloat(_this.SupplierId);
                request.ProductUnitPrice = parseFloat(_this.ProductUnitPrice);
                request.UnitStock = parseFloat(_this.UnitStock);
                request.ProductStatus = _this.ProductStatus;
                axios.post(window.location.origin + "/Product/Create", request).then(response => {
                    alert(response.data);
                    window.location = '/Product/Index'
                });
            },

        },
    });
</script>