

<meta charset="utf-8">
<title>ShopIndex</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">

<!-- Favicon -->
<link href="~/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="~/css/style.css" rel="stylesheet">


<!-- Topbar Start -->
<div class="container-fluid" style="background-color:#2f4f4f;">
    <div class="row align-items-center justify-content-md-end py-3 px-xl-5">
        <div class="col-lg-6 col-6 text-left ">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <div class="input-group-append">
                        <span class="btn input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="" class="btn border">
                <i class="fas fa-heart text-primary"></i>
                <span class="badge">0</span>
            </a>
            <a href="/Shop/Cart" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                <span class="badge">0</span>
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Shop Detail Start -->
<div class="container-fluid py-5" id="productRating">
    <div class="row px-xl-5" v-for="item in products">
        <div class="col-lg-5 pb-5">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="~/img/01.jpg" style="object-fit: cover;">
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">潛水錶{{item.productName}}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">$123</h3>
            <h6 class="font-weight-semi mb-4">商品單位：</h6>
            <h6 class="font-weight-semi mb-4">庫存數量：</h6>

            <div class="d-flex align-items-center mb-4 pt-2">
                <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-minus">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control bg-secondary text-center" value="1">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">商品介紹</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">消費者評價</a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">商品介紹</h4>
                    <p>
                        超猛商品介紹 以下省略1萬字
                    </p>
                </div>
                <div class="tab-pane fade" id="tab-pane-2">
                    <div class="row">
                        <div class="col-md-12 justify-content-center">
                            <h4 class="mb-4">商品相關評論</h4>
                            <div class="media mb-4">
                                <img src="~/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6>時空旅人<small> - <i>01 Jan 2045</i></small></h6>
                                    <div class="text-primary mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                </div>
                            </div>
                        </div>
                        @*                            <div class="col-md-6">
                        <h4 class="mb-4">Leave a review</h4>
                        <small>Your email address will not be published. Required fields are marked *</small>
                        <div class="d-flex my-3">
                        <p class="mb-0 mr-2">Your Rating * :</p>
                        <div class="text-primary">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        </div>
                        </div>
                        <form>
                        <div class="form-group">
                        <label for="message">Your Review *</label>
                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                        <label for="name">Your Name *</label>
                        <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                        <label for="email">Your Email *</label>
                        <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group mb-0">
                        <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                        </div>
                        </form>
                        </div>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script>
    //Vue.use(VueNumberInput);
    //Vue.component('vue-number-input', VueNumberInput);
    let app = new Vue({
        el: "#productRating",
        data: {
            products: []
        },
        mounted: function () {
            let self = this;
            fetch("/api/Product/1")
                //fetch("/api/Product/")
                .then(res => res.json())
                .then(data => (this.products = data))
        }
    })

</script>

<!-- Shop Detail End -->
    </div>
<!-- Shop Detail End -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/easing/easing.min.js"></script>
<script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/mail/jqBootstrapValidation.min.js"></script>
<script src="~/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/js/mainshop.js"></script>
