@section Head{
    <meta charset="utf-8">
    <title>ShopIndex</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href=https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.cjs.js>
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
}
<div id="VuePage">

    <!-- Theme Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-3 pb-3">
            <h1>活動詳細資料</h1>
            <br />
            <input type="button" class="left-align" value="參與活動" v-on:click="joinActivity"/>
        </div>
    </div>
    <!-- Theme End -->
    <div class="container-fluid pt-3">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <h5>活動編號: {{Activities.activityId}}</h5>
                <h5>發起人: {{Activities.memberName}}</h5>
            </div>
            <div class="col-sm-3">
                <h5>揪團名稱: {{Activities.activitiesName}}</h5>
                <h5>揪團地點: {{Activities.activitiesAddress}}</h5>
                <h5>活動開始時間: {{Activities.actitiesStartDate}}</h5>
                <h5>活動結束時間: {{Activities.actitiesFinishDate}}</h5>
            </div>
            <div class="col-sm-3">
                <h5>限制人數: {{Activities.limitCount}}</h5>
                <h5>揪團發起時間: {{Activities.createdTime}}</h5>
                <h5>參與截止時間: {{Activities.endTime}}</h5>
                <h5>參與人數: {{Activities.joinCount}}</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <h4>
                    {{Activities.activitiesAddress}}
                </h4>
                <div>
                    <p>{{Activities.activitiesContent}}</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div>
                    <img class="w-100" :src="Activities.activityPicturePath" alt="Image">
                </div>

            </div>
        </div>
    </div>
    <br />

    <div class="container-fluid col-8">
        <div class="justify-content-end">
            <h5>評分及評論</h5>
        </div>
        <hr />
        <form v-on:submit.prevent="submitdata">
            <div class="d-flex my-2">
                <p class="mb-0 mr-2">我的評分 :</p>
                <div class="text-primary">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="message">我的評論：</label>
                <textarea id="message" cols="15" rows="2" class="form-control"
                    v-model.lazy="Activities.activitiesMessageContent"></textarea>
            </div>
            <div class="form-group mb-0">
                <input type="submit" value="確認送出" class="btn btn-primary px-3">
            </div>
        </form>
        <br />
        <br />
        <br />
        <div class="justify-content-end">
            <h5>活動評價</h5>
        </div>
        <hr />
        <div v-for="msg in Activities.activitiesMessageBoards" class="media mb-4">
            <img src="/img/team-3.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
            <div class="media-body">
                <h6>{{msg.account}}<small> - <i>{{msg.messageCreatedTime}}</i></small></h6>
                <div class="text-primary mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Good</p>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                Activities: [],
                addMessage: {
                    activityId: '',
                    activitiesMessageContent: '',
                },
                ErrMsg: '',
                Success: '',

            },
            mounted: function () {
                this.getActivityDetail();

            },
            methods: {
                getActivityDetail: function () {
                    var self = this;
                    const detailId = location.search.split("=")[1];
                    axios({
                        method: 'get',
                        url: `/SocialActivities/SocialActivitiesApi/GetActivityDetail/${detailId}`
                    })
                        .then(function (res) {
                            console.log(res);
                            self.Activities = res.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                joinActivity: function(){
                    var self = this;
                    axios({
                        method: 'post',
                        url: `/SocialActivities/SocialActivitiesApi/JoinAct/${self.activityId}`,

                    })
                        .then(function (res) {
                            self.Success = res.data;
                            self.getActivityDetail();
                            console.log(res);
                            Swal.fire({
                                title: self.Success,
                                icon: 'success',
                                timer: 12000
                            });
                        })
                        .catch(function (error) {
                            console.log(error);
                            self.ErrMsg = error.response.data.errors;
                            var message = Object.values(error.response.data.errors).join('<br>');
                            Swal.fire({
                                title: '參加活動失敗',
                                text: `${message}`,
                                icon: 'error',
                                timer: 12000
                            });
                        });
                },
                submitdata: function () {
                    var self = this;
                    axios({
                        method: 'post',
                        url: '/SocialActivities/SocialActivitiesApi/PostMessage',
                        data: self.addMessage,
                    })
                        .then(function (res) {
                            self.Success = res.data;
                            self.getActivityDetail();
                            self.addMessage = {
                                activityId: '',
                                activitiesMessageContent: '',
                            };
                            console.log(res);
                            Swal.fire({
                                title: self.Success,
                                icon: 'success',
                                timer: 12000
                            });
                        })
                        .catch(function (error) {
                            console.log(error);
                            self.ErrMsg = error.response.data.errors;
                            var message = Object.values(error.response.data.errors).join('<br>');
                            Swal.fire({
                                title: '留言失敗',
                                text: `${message}`,
                                icon: 'error',
                                timer: 12000
                            });
                        });
                }
            }
        });

    </script>
}
