<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]3TeamProject</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="~/assets/materialize/css/materialize.min.css" media="screen,projection" />
	<!-- Bootstrap Styles-->
	<link href="~/assets/css/bootstrap.css" rel="stylesheet" />
	<!-- FontAwesome Styles-->
	<link href="~/assets/css/font-awesome.css" rel="stylesheet" />
	<!-- Morris Chart Styles-->
	<link href="~/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
	<!-- Custom Styles-->
	<link href="~/assets/css/custom-styles.css" rel="stylesheet" />
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="~/assets/js/Lightweight-Chart/cssCharts.css"> 
	<!-- Axios -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<!-- SweetAlert -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@@11"></script>
</head>

<body>
		<nav class="navbar navbar-default top-navbar" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand waves-effect waves-dark" href="/Backstage/Dashboard"><i class="large material-icons">insert_chart</i> <strong>TREAVELER</strong></a>
			<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
			</div>
			<ul class="nav navbar-top-links navbar-right"> 
				<li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>使用者名稱</b> <i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</nav>
		<!-- Dropdown Structure -->
		<ul id="dropdown1" class="dropdown-content">
			<li><a href="#"><i class="fa fa-user fa-fw"></i> 個人資料</a>
			</li>
			<li><a href="#"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
			</li>
		</ul>
	   <!--/. NAV TOP  -->
		<nav class="navbar-default navbar-side" role="navigation">
		<div class="collapse navbar-collapse" id="sidebar-collapse">

				<ul class="nav" id="main-menu">
					<li>
					<a href="/Backstage/Dashboard" class="waves-effect waves-dark"><i class="fa fa-dashboard"></i> 首頁</a>
					</li>
					<li>
						<a href="/Backstage/Admin" class=" waves-effect waves-dark"><i class="fa fa-desktop"></i> 管理員管理</a>
					</li>
					<li>
					<a href="/Backstage/Member" class="waves-effect waves-dark"><i class="fa fa-user"></i> 會員管理</a>
					</li>
					<li>
					<a href="/Backstage/Supplier" class="waves-effect waves-dark"><i class="fa fa-users"></i> 廠商管理</a>
					</li>

					<li>
					<a href="/Backstage/Product" class="waves-effect waves-dark"><i class="fa fa-table"></i> 商品管理</a>
					</li>
					<li>
					<a href="/Backstage/Order" class="waves-effect waves-dark"><i class="fa fa-table"></i> 訂單管理</a>
					</li>
					<li>
					<a href="/Backstage/Attraction" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 景點管理</a>
					</li>
					<li>
					<a href="/Backstage/Community" class="waves-effect waves-dark"><i class="fa fa-edit"></i> 社群管理</a>
					</li>

@*					<li>
						<a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
						<ul class="nav nav-second-level">
							<li>
								<a href="#">Second Level Link</a>
							</li>
							<li>
								<a href="#">Second Level Link</a>
							</li>
							<li>
								<a href="#">Second Level Link<span class="fa arrow"></span></a>
								<ul class="nav nav-third-level">
									<li>
										<a href="#">Third Level Link</a>
									</li>
									<li>
										<a href="#">Third Level Link</a>
									</li>
									<li>
										<a href="#">Third Level Link</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
*@				</ul>
			</div>
		</nav>


	@RenderBody()
	<!-- jQuery Js -->
	<script src="~/assets/js/jquery-1.10.2.js"></script>
	<!-- Bootstrap Js -->
	<script src="~/assets/js/bootstrap.min.js"></script>
	<script src="~/assets/materialize/js/materialize.min.js"></script>
	<!-- Metis Menu Js -->
	<script src="~/assets/js/jquery.metisMenu.js"></script>
	<!-- Morris Chart Js -->
	<script src="~/assets/js/morris/raphael-2.1.0.min.js"></script>
	<script src="~/assets/js/morris/morris.js"></script>
	<script src="~/assets/js/easypiechart.js"></script>
	<script src="~/assets/js/easypiechart-data.js"></script>
	<script src="~/assets/js/Lightweight-Chart/jquery.chart.js"></script>
	<!-- Custom Js -->
	<script src="~/assets/js/custom-scripts.js"></script> 

</body>

</html>