@section Head{
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
}

<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
            <h3 class="display-4 text-white text-uppercase">活動紀錄</h3>
            <div class="d-inline-flex text-white">
            </div>
        </div>
    </div>
</div>
    <div id="VuePage" class="container-fluid booking mt-5 pb-5">
        <div class="container-fluid pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 500px;">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                    <img :src="PicturePath" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">{{NickName}}</h5>
                            </div>
                        </div>

                        <div class="mb-lg-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group list-group-flush rounded-3 ">
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/MemberProfile"><i class="zmdi zmdi-account-circle"> 會員資料</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/MyOrder"><i class="zmdi zmdi-chart"> 我的訂單</i> </a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/OrderRecord"><i class="zmdi zmdi-chart"> 訂購紀錄</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                登出
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card mb-4">

                                <div class="d-flex justify-content-center">
                                    <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">
                                                                <div class="toggle-btn">
                                                                    <div class="inner-circle"></div>
                                                                </div>
                                                            </th>
                                                            <th>活動編號</th>
                                                            <th>活動名稱</th>
                                                            <th>報名終止日期</th>
                                                            <th>活動開始時間</th>
                                                            <th>活動終止時間</th>
													        <th>活動狀態</th>
                                                            <th>
                                                        全選<input type="checkbox" name="CheckAll" value="核取方塊" id="CheckAll">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                <tbody @*v-for="act in ActRecords"*@ class="table-body">
                                                        <tr class="cell-1">
                                                            <td class="text-center">
                                                                <div class="toggle-btn">
                                                                    <div class="inner-circle"></div>
                                                                </div>
                                                            </td>
                                                        <td>#1591234</td>
													        <td>11/10 墾丁淺水團</td>
                                                            <td>2022/10/20</td>
                                                            <td>2022/11/10</td>
                                                            <td>2022/11/13</td>
                                                            <td><span class="badge badge-success">參與中</span></td>
                                                            <td>
                                                        <input type="checkbox" name="Checkbox[]" value="核取方塊" id="CheckboxGroup1_0">
                                                            </td>
                                                        </tr>
                                                        <tr class="cell-1">
                                                            <td class="text-center">
                                                                <div class="toggle-btn">
                                                                    <div class="inner-circle"></div>
                                                                </div>
                                                            </td>
                                                            <td>#1593498</td>
                                                            <td>10/31台北登山團</td>
                                                            <td>2022/10/19</td>
                                                            <td>2022/10/31</td>
													        <td>2022/10/31</td>
													        <td><span class="badge badge-danger">已退出</span></td>
                                                            <td>
                                                        <input type="checkbox" name="Checkbox[]" value="核取方塊" id="CheckboxGroup1_1">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                    <button type="button" class="btn btn-outline-primary ms-1">
                                                        我要退出活動
                                                    </button>
                                                </div>
                                                <br />
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#CheckAll").click(function () {
            if ($("#CheckAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
                $("input[name='Checkbox[]']").prop("checked", true);//把所有的核取方框的property都變成勾選
            } else {
                $("input[name='Checkbox[]']").prop("checked", false);//把所有的核取方框的property都取消勾選
            }
        })
    })
</script>
    @section scripts {
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                ActRecords: [],
                PicturePath: '',
                NickName: '',
                ErrMsg: '',
                Success: '',
                progress: ''
            },
            mounted: function () {
                var self = this;
                axios({
                    method: 'get',
                    url: '/Members/MemberApi/GetMember'
                })
                    .then(function (res) {
                        console.log(res);
                        self.PicturePath = res.data.picturePath;
                        self.NickName = res.data.nickName;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                axios({
                    method: 'get',
                    url: '/Members/MemberApi/ActRecord'
                })
                    .then(function (res) {
                        console.log(res);
                        self.ActRecords = res.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        });

    </script>
    }