<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">


<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
            <h3 class="display-4 text-white text-uppercase">會員資料</h3>
            <div class="d-inline-flex text-white">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 500px;">

                    <div class="row">
                      <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">暱稱</h5>
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="btn btn-primary ms-1">上傳照片</button>
                                </div>
                            </div>
                        </div>

                        <div class="mb-lg-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group list-group-flush rounded-3 ">
                              <li class="list-group-item justify-content-between align-items-center p-3 ">
                                  <div class="d-flex justify-content-center mb-2">
									  <button type="button" class="form-control btn btn-outline-primary ms-1">
											<a data-toggle="click" href="/Member/MyOrder"><i class="zmdi zmdi-card-giftcard"> 我的訂單</i></a>
                                       </button>
                                  </div>
                              </li>
                              <li class="list-group-item justify-content-between align-items-center p-3">
                                  <div class="d-flex justify-content-center mb-2">
                                      <button type="button" class="form-control btn btn-outline-primary ms-1">
                                            <a data-toggle="click" href="/Member/OrderRecord"><i class="zmdi zmdi-chart"> 訂購紀錄</i></a>
                                      </button>
                                  </div>
                              </li>
                              <li class="list-group-item justify-content-between align-items-center p-3">
                                  <div class="d-flex justify-content-center mb-2">
                                      <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/ActRecord"><i class="zmdi zmdi-group"> 活動紀錄</i></a>
                                      </button>
                                  </div>
                              </li>
                              </li>
                              <li class="list-group-item justify-content-between align-items-center p-3">
                                  <div class="d-flex justify-content-center mb-2">
                                       <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                登出
                                        <i class="zmdi zmdi-arrow-right"></i>
                                      </button>
                                  </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                          <div class="col-lg-8">
                            <div class="card mb-4">
                              <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">帳號</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">xxx</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">密碼</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">xxx</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">姓名</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">xxx</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">暱稱</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">xxx</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">生日</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">1991/1/1</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">身分證字號</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">A123456789</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">電子信箱</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">example@example.com</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">手機號碼</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">0987-234-567</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">電話號碼</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">02-1234-5678</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">郵遞區號</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">123</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">城市</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">台北市</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">地址</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0">中山區南京東路三段219號5樓</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button type="button" class="btn btn-primary ms-1">修改資料</button>
                                        </div>
                            </div>
                          </div>
                        </div>
        </div>
        </div>
    </div>
  </div>
</div>