@section Head{
<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
<style>

</style>
}

<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
            <h3 class="display-4 text-white text-uppercase">我的訂單</h3>
            <div class="d-inline-flex text-white">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid booking mt-5 pb-5">
        <div class="container-fluid pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 500px;">
                <div id="VuePage" class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                    <img :src="PicturePath" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">{{NickName}}</h5>
                            </div>
                        </div>
                        <div class="mb-lg-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group list-group-flush rounded-3 ">
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/MemberProfile"><i class="zmdi zmdi-account-circle"> 會員資料</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/OrderRecord"><i class="zmdi zmdi-chart"> 訂購紀錄</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/ActRecord"><i class="zmdi zmdi-group"> 活動紀錄</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                                <button type="button" class="form-control btn btn-outline-primary ms-1" v-on:click="logOut">
                                                登出
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div v-for="(or,index) in Orders" class="card mb-4">  
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="card card-stepper" style="border-radius: 10px;">
                                    <div class="card-body p-4">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-column">
                                                <span class="lead fw-normal">訂單編號：{{or.orderId}}</span>
                                                    <span class="lead fw-normal">訂購日期：{{or.orderDate}}</span>
                                                    <span class="lead fw-normal">總價：${{or.total}}</span>
                                                    <span class="lead fw-normal">付款狀態：{{or.paymentCategoryName}}</span>
											</div>
                                        </div>
                                        <div>
                                             <button class="btn btn-primary" type="button" data-bs-toggle="collapse" :data-bs-target="'#collap'+index" aria-expanded="false" aria-controls="collapseExample">
                                                    訂單詳情
                                               <i class="zmdi zmdi-chevron-down"></i>
                                             </button>
                                                <div v-for="od in or.orderDetails" class="collapse" :id="'collap'+index">
                                                    <div class="card card-body">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="d-flex flex-column">
                                                                <span class="lead fw-normal">商品名稱：{{od.productName}}</span>
                                                                <span class="lead fw-normal">數量：{{od.quantity}}</span>
                                                                <span class="lead fw-normal">單價：${{od.unitPrice}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="progress" style="height: 10px;">
                                                            <div class="progress-bar bg-success" role="progressbar" :style="progress" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                                            <div class="d-flex flex-column align-items-start">
                                                                <span>訂單成立</span>
                                                                <span>{{or.orderDate}}</span>
                                                            </div>
                                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                                <span>訂單出貨</span>
                                                                <span>{{or.shipDate}}</span>
                                                            </div>
                                                            <div class="d-flex flex-column align-items-center">
                                                                <span>運送中</span>
                                                                <span>{{or.shipDate}}</span>
                                                            </div>
                                                            <div class="d-flex flex-column align-items-end">
                                                                <span>已送達</span>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                            <button type="button" class="btn btn-primary ms-1">我要退/換貨</button>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section scripts {
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                Orders:[],
                PicturePath:'',
                NickName: '',
                ErrMsg: '',
                Success: '',
                progress:''
            },
            mounted: function () {
                var self = this;
                axios({
                    method: 'get',
                    url: '/Members/MemberApi/GetMember'
                })
                .then(function (res) {
                    console.log(res);
                    self.PicturePath = res.data.picturePath;
                    self.NickName = res.data.nickName;
                })
                .catch(function (error) {
                    console.log(error);
                });
                axios({
                    method: 'get',
                    url: '/Members/MemberApi/GetOrder'
                })
                .then(function (res) {
                    console.log(res);
                    self.Orders = res.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            methods: {
                logOut: function(){
                    axios({
                        method: 'delete',
                        url: '/Users/UserApi/Logout'
                    })
                    .then(function (res) {
                        console.log(res);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                    window.location.assign("/home");
                }
            }   
        });

    </script>
    }