@section Head{
<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
}

<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
            <h3 class="display-4 text-white text-uppercase">訂購紀錄</h3>
            <div class="d-inline-flex text-white">
            </div>
        </div>
    </div>
</div>
<div id="VuePage" class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 500px;">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">{{NickName}}</h5>
                            </div>
                        </div>

                        <div class="mb-lg-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group list-group-flush rounded-3 ">
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/MemberProfile"><i class="zmdi zmdi-account-circle"> 會員資料</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
												<a data-toggle="click" href="/Member/MyOrder"><i class="zmdi zmdi-chart"> 我的訂單</i> </a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Member/ActRecord"><i class="zmdi zmdi-group"> 活動紀錄</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                登出
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card mb-4">

                                <div class="d-flex justify-content-center">
                                    <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">
                                                                <div class="toggle-btn">
                                                                    <div class="inner-circle"></div>
                                                                </div>
                                                            </th>
                                                            <th>訂單編號</th>
                                                            <th>訂購日期</th>
                                                            <th>訂單狀態</th>
                                                            <th>總價</th>
                                                            <th>付款</th>
                                                            <th>出貨狀態</th>
                                                            <th>給予評價</th>
                                                        </tr>
                                                    </thead>
                                                <tbody v-for="record in OrderRecords" class="table-body">
                                                        <tr class="cell-1">
                                                            <td class="text-center">
                                                                <div class="toggle-btn">
                                                                    <div class="inner-circle"></div>
                                                                </div>
                                                            </td>
                                                        <td>#{{record.orderId}}</td>
                                                        <td>{{record.orderDate}}</td>
                                                        <td><span class="badge badge-success">{{record.orderCategoryName}}</span></td>
                                                        <td>${{record.total}}</td>
                                                        <td>{{record.paymentCategoryName}}</td>
                                                        <td>{{record.shipCategoryName}}</td>
                                                            <td>
                                                                <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                                    GO
                                                                </button>
                                                            </td>
                                                        </tr> 
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section scripts {
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                OrderRecords: [],
                PicturePath: '',
                NickName: '',
                ErrMsg: '',
                Success: '',
                progress: ''
            },
            mounted: function () {
                var self = this;
                axios({
                    method: 'get',
                    url: '/Members/MemberApi/GetMember'
                })
                    .then(function (res) {
                        console.log(res);
                        self.PicturePath = res.data.picturePath;
                        self.NickName = res.data.nickName;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                axios({
                    method: 'get',
                    url: '/Members/MemberApi/GetOrderRecord'
                })
                    .then(function (res) {
                        console.log(res);
                        self.OrderRecords = res.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        });

    </script>
    }