@section Head{
    <meta charset="utf-8">
    <title>ShopIndex</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href=https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.cjs.js>
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
}
<div id="VuePage">
    <!-- Carousel Start -->
    <div class="container-fluid col-8 ">
        <div id="carousel-atraction" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="~/img/carousel-1.jpg" alt="Image">
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="~/img/carousel-2.jpg" alt="Image">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-atraction" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#carousel-atraction" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->
    <br />
    <!-- Description Start -->
    <div class="container-fluid col-8">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <div class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button btn collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        <h4>
                            第{{sightseeing.sightseeingId}}號景點_{{sightseeing.sightseeingName}}
                            <i class="zmdi zmdi-chevron-up"></i>
                        </h4>
                    </button>
                </div>
            </div>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <p>{{sightseeing.sightseeingIntroduce}}</p>
                    <p>位置: {{sightseeing.sightseeingCountry}}, {{sightseeing.sightseeingCity}}, {{sightseeing.sightseeingAddress}}</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="container-fluid col-8">
        <div class="justify-content-end">
            <h5>評分及評論</h5>
        </div>
        <hr />
        <form v-on:submit.prevent="postmsg">
            <div class="d-flex my-2">
                <p class="mb-0 mr-2">我的評分 :</p>
                <div class="text-primary">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="message">我的評論：</label>
                <textarea id="message" cols="15" rows="2" class="form-control"
                    v-model.lazy="addMessage.sightseeingMessageContent"></textarea>
            </div>
            <div class="form-group mb-0">
                <input type="submit" value="確認送出" class="btn btn-primary px-3">
            </div>
        </form>
        <br />
        <br />
        <br />
        <div class="justify-content-end">
            <h5>景點評價</h5>
        </div>
        <hr />
        <div v-for="msg in sightseeing.sightseeingMessageBoards" class="media mb-4">
            <img src="/img/team-3.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
            <div class="media-body">
                <h6>{{msg.account}}<small> - <i>{{msg.messageCreatedTime}}</i></small></h6>
                <div class="text-primary mb-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>{{msg.sightseeingMessageContent}}</p>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                sightseeing: [],
                addMessage: {
                    sightseeingId: '',
                    sightseeingMessageContent: ''
                },
                ErrMsg: '',
                Success: ''
            },
            mounted: function () {
                this.getSightDetail();
            },
            methods: {
                getSightDetail: function () {
                    const detailId = location.search.split("=")[1];
                    var self = this;
                    axios({
                        method: 'get',
                        url: `/Sightseeings/SightseeingApi/${detailId}`
                    })
                        .then(function (res) {
                            console.log(res);
                            self.sightseeing = res.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                },
                postmsg: function () {
                    var self = this;
                    self.addMessage.sightseeingId = self.sightseeing.sightseeingId;
                    axios({
                        method: 'post',
                        url: '/Sightseeings/SightseeingApi',
                        data: self.addMessage
                    })
                        .then(function (res) {
                            console.log(res);
                            self.getSightDetail();
                            self.addMessage = {
                                sightseeingId:'',
                                sightseeingMessageContent: ''
                            },
                                Swal.fire({
                                    title: '已成功留言',
                                    icon: 'success',
                                    timer: 12000
                                });
                        })
                        .catch(function (error) {
                            console.log(error);
                            self.ErrMsg = error.response.data.errors;
                            var message = Object.values(error.response.data.errors).join('<br>');
                            Swal.fire({
                                title: '留言失敗',
                                text: `${message}`,
                                icon: 'error',
                                timer: 12000
                            });
                        });
                }
            }
        });

    </script>
}
