@{
    Layout = "_Backstage";
}
@section Head {
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
}

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="card ">
                        <div class="card-body">
                            <label for="Image" class="form-label">商品圖片上傳</label>
                            <input class="form-control" type="file" id="formFile" onchange="preview()">
                            <button onclick="clearImage()" class="btn btn-primary mt-3">刪除</button>
                        </div>
                        <img id="frame" src="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">商品介紹</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <i class="zmdi zmdi-"> 產品名稱</i>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <i class="zmdi zmdi-"> 產品單位</i>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <i class="zmdi zmdi-"> 產品種類</i>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <i class="zmdi zmdi-"> 產品單價</i>
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-2 align-self-center">
                    <i class="zmdi zmdi-"> 上架數量</i>
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control">
                </div>
            </div>
            <br />
            <div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary rounded px-3" href="/Member/Register">取消</button>
                    <button type="submit" class="btn btn-primary rounded submit px-3">送出</button>
                </div>
            </div>
        </div>
    </div>

<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }

</script>

