
@{
    Layout = "_Backstage";
}
@section Head{
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
</head>
}

	<div id="page-wrapper">
		<div id="page-inner" style="margin-top:0px">
            <div id="VuePage" class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-action">
                            <div class=" mb-3">
                                <h2>管理員清單</h2>
                            </div>
                            <div  style ="float: right;">
                                <button class="px-5" style="float: right;">刪除資料</button>
                                <button class="px-5" style="float: right;">修改資料</button>
                                <button class="px-5" style="">新增管理員</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <label class="form-checkbox">
                                <input class="checkbox" type="checkbox">
                                <i class="form-icon"></i>
                            </label>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>管理員編號</th>
                                            <th>管理員名稱</th>
                                            <th>帳號</th>
                                            <th>密碼</th>
                                            <th>電話</th>
                                            <th>電子郵件</th>
                                            <th>權限</th>
                                            <th>備註</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="ad in Admins">
                                        <tr class="text-center">
                                            <td><a herf="">#{{ad.userId}}</a></td>
                                            <td>{{ad.administratorName}}</td>
                                            <td>{{ad.account}}</td>
                                            <td>********</td>
                                            <td>{{ad.phoneNumber}}</td>
                                            <td>{{ad.email}}</td>
                                            <td>{{ad.roles}}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                    
                </div>
            </div>

		</div>
	</div>
    
    @section Scripts{
@*    <!-- DATA TABLE SCRIPTS -->
    <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>*@
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                Admins: [],
                selected:'',
                selectAll:'',
                ErrMsg: '',
                Success: '',
            },
            mounted: function () {
                var self = this;
                axios({
                    method: 'get',
                    url: '/Administrators/AdministratorApi/GetAllAdmins'
                })
                    .then(function (res) {
                        console.log(res);
                        self.Admins = res.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            methods: {
                logOut: function () {
                    axios({
                        method: 'delete',
                        url: '/Users/UserApi/Logout'
                    })
                        .then(function (res) {
                            console.log(res);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                    window.location.assign("/home");
                },
                select:function(){

                }
            }
        });

    </script>
    }
