@{
    Layout = "_Backstage";
}
@section Head {
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
}

    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-action">
                            <div class=" mb-3">
                                <h2>活動清單</h2>
                            </div>
                            <div style="float: right;">
                                <button class="px-5" style="float: right;">刪除</button>
                                <button class="px-5" style="float: right;">修改</button>
                                <button class="px-5" style="float: right;" v-on:click="addattraction">新增</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>活動編號</th>
                                            <th>揪團名稱</th>
                                            <th>揪團地點</th>
                                            <th>限制人數</th>
                                            <th>參與人數</th>
                                            <th>揪團發起時間</th>
                                            <th>參與截止時間</th>
                                            <th>發起人</th>
                                            <th>退出活動</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center">
                                            <td>#</td>
                                            <td>揪團名稱</td>
                                            <td>揪團地點</td>
                                            <td>限制人數</td>
                                            <td>參與人數</td>
                                            <td>揪團發起時間</td>
                                            <td>參與截止時間</td>
                                            <td>發起人</td>
                                            <td>退出活動</td>
                                        </tr>

                                    </tbody>
                                </table>                        
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

        </div>
    </div>
    @section Scripts{
    <!-- DATA TABLE SCRIPTS -->
    <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });

    </script>
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                Account: '',
                Email: '',
                Password: '',
                ComfirmPassword: '',
                MemberName: '',
                NickName: '',
                Birthday: '',
                IdentityNumber: '',
                CellPhoneNumber: '',
                PhoneNumber: '',
                PostalCode: '',
                Country: '台灣',
                City: '',
                Address: '',
                isChecked: false,
                ErrMsg: '',
                Success: '',
                isDisabled:false
            },
            methods: {
                SubmitData: function () {
                    var self = this;
                    this.isDisabled = true;
                    if (self.isChecked == false) {
                        Swal.fire({
                            title: '註冊失敗',
                            text: '請勾選隱私權政策',
                            icon: 'error',
                            timer: 12000
                        });
                        return;
                    }
                    axios({
                        method: 'post',
                        url: '/Members/MemberApi/Register',
                        data: {
                            Account: self.Account,
                            Email: self.Email,
                            Password: self.Password,
                            ComfirmPassword: self.ComfirmPassword,
                            MemberName: self.MemberName,
                            NickName: self.NickName,
                            Birthday: self.Birthday,
                            Fax: self.Fax,
                            IdentityNumber: self.IdentityNumber,
                            CellPhoneNumber: self.CellPhoneNumber,
                            PhoneNumber: self.PhoneNumber,
                            PostalCode: self.PostalCode,
                            Country: self.Country,
                            City: self.City,
                            Address: self.Address,
                            ErrMsg: '',
                            Success: ''
                        }
                    })
                    .then(function (response) {
                        self.Success = response.data;
                        Swal.fire({
                            title: self.Success,
                            icon: 'success',
                            timer: 12000
                        }).then((result => {
                            window.location.assign("/home")
                        }));
                        self.isDisabled = false;
                        console.log(response);
                    })
                    .catch(function (error) {
                        self.ErrMsg = error.response.data;
                        Swal.fire({
                            title: '登入失敗', // TODO 驗證需修改
                            text: '請填入選項',
                            icon: 'error',
                            timer: 12000
                        });
                        console.log(error);
                        self.isDisabled = false;
                        return;
                    });
                },
            }
        });

    </script>
    }
    }

