@{
    Layout = "_Backstage";
}
@section Head{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
}

    <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
        <div id="page-inner" style="margin-top:0px">

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image red">
                                <i class="fa fa-eye fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>5</h3>
                                </div>
                                <div class="card-action">
                                    <strong> 待審核商品</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image red">
                                <i class="fa fa-eye fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>3</h3>
                                </div>
                                <div class="card-action">
                                    <strong> 待審核廠商</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image orange">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>20</h3>
                                </div>
                                <div class="card-action">
                                    <strong> 待付款資料</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image orange">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>50</h3>
                                </div>
                                <div class="card-action">
                                    <strong> 待出貨資料</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image blue">
                                <i class="fa fa-check-circle-o fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>25</h3>
                                </div>
                                <div class="card-action">
                                <strong> 已出貨訂單</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image blue">
                                <i class="fa fa-dollar fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>31,225</h3>
                                </div>
                                <div class="card-action">
                                    <strong> 本月銷售金額</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>525</h3>
                                </div>
                                <div class="card-action">
                                    <strong> 會員數</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image">
                                <i class="fa fa-thumbs-up fa-5x"></i>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h3>11</h3>
                                </div>
                                <div class="card-action">
                                    <strong> 發起活動數量</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
