@{
    Layout = "_Backstage";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <div id="page-wrapper">
        <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-action">
                            <div class=" mb-3">
                                <h2>會員清單</h2>
                            </div>
                            <div style="float: right;">
                                <button class="px-5" style="float: right;">修改資料</button>
                                <button class="px-5" style="float: right;">刪除資料</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive dataTables_scrollFoot " >
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>會員編號</th>
                                            <th>姓名</th>
                                            <th>帳號</th>
                                            <th>密碼</th>
                                            <th>暱稱</th>
                                            <th>生日</th>
                                            <th>身份證字號</th>
                                            <th>電子信箱</th>
                                            <th>手機號碼</th>
                                            <th>電話號碼</th>
                                            <th>郵遞區號</th>
                                            <th>國家</th>
                                            <th>城市</th>
                                            <th>地址</th>
                                            <th>狀態</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center">
                                            <td><a herf="">#101</a></td>
                                            <td>張三</td>
                                            <td>chang</td>
                                            <td>Abc1234</td>
                                            <td>XXXXXXXXXX</td>
                                            <td>1990/10/10</td>
                                            <td>F125XXXXXX</td>
                                            <td>123@@gmail.com</td>
                                            <td>0988XXXXXXX</td>
                                            <td>0988XXXXXXX</td>
                                            <td>213</td>
                                            <td>台灣</td>
                                            <td>台北市</td>
                                            <td>XXX@gmail.com</td>
                                            <td>使用中</td>
                                        </tr>
                                        <tr class="text-center">
                                            <td><a herf="">#102</a></td>
                                            <td>李四</td>
                                            <td>lee</td>
                                            <td>Abc1234</td>
                                            <td>XXXXXXXXXX</td>
                                            <td>1990/10/10</td>
                                            <td>F125XXXXXX</td>
                                            <td>123@@gmail.com</td>
                                            <td>0988XXXXXXX</td>
                                            <td>0988XXXXXXX</td>
                                            <td>213</td>
                                            <td>台灣</td>
                                            <td>台北市</td>
                                            <td>XXX@gmail.com</td>
                                            <td>使用中</td>
                                        </tr>
                                        <tr class="text-center">
                                            <td><a herf="">#103</a></td>
                                            <td>陳五</td>
                                            <td>chen</td>
                                            <td>Abc1234</td>
                                            <td>XXXXXXXXXX</td>
                                            <td>1990/10/10</td>
                                            <td>F125XXXXXX</td>
                                            <td>123@@gmail.com</td>
                                            <td>0988XXXXXXX</td>
                                            <td>0988XXXXXXX</td>
                                            <td>213</td>
                                            <td>台灣</td>
                                            <td>台北市</td>
                                            <td>XXX@gmail.com</td>
                                            <td>使用中</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

        </div>
    </div>
    <!-- DATA TABLE SCRIPTS -->
    <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

</body>
</html>