@{
    Layout = "_Backstage";
}
@section Head{
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
}

    <div id="page-wrapper">
        <div id="page-inner" style="margin-top:0px">
            <div id="VuePage" class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-action">
                            <div class=" mb-3">
                                <h2>廠商清單</h2>
                            </div>
                            <div style="float: right;">
                                <button class="px-5" style="float: right;">審核</button>
                                <button class="px-5" style="float: right;">停權</button>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables_scrollFoot" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>廠商編號</th>
                                            <th>連絡人姓名</th>
                                            <th>帳號</th>
                                            <th>密碼</th>
                                            <th>公司名稱</th>
                                            <th>統一編號</th>
                                            <th>電子信箱</th>
                                            <th>手機號碼</th>
                                            <th>電話號碼</th>
                                            <th>傳真</th>
                                            <th>郵遞區號</th>
                                            <th>國家</th>
                                            <th>城市</th>
                                            <th>地址</th>
                                            <th>狀態</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="sup in Suppliers">
                                        <tr class="text-center">
                                            <td><a herf="">#{{sup.userId}}</a></td>
                                            <td>{{sup.contactName}}</td>
                                            <td>{{sup.account}}</td>
                                            <td>********</td>
                                            <td>{{sup.companyName}}</td>
                                            <td>{{sup.taxId}}</td>
                                            <td>{{sup.email}}</td>
                                            <td>{{sup.cellPhoneNumber}}</td>
                                            <td>{{sup.supplierPhoneNumber}}</td>
                                            <td>{{sup.fax}}</td>
                                            <td>{{sup.supplierPostalCode}}</td>
                                            <td>{{sup.supplierCountry}}</td>
                                            <td>{{sup.supplierCity}}</td>
                                            <td>{{sup.supplierAddress}}</td>
                                            <td>{{sup.statusName}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

        </div>
    </div>
    @section Scripts{
    <!-- DATA TABLE SCRIPTS -->
    <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                Suppliers: [],
                selected: '',
                selectAll: '',
                ErrMsg: '',
                Success: '',
            },
            mounted: function () {
                var self = this;
                axios({
                    method: 'get',
                    url: '/Administrators/AdministratorApi/GetAllSuppliers'
                })
                    .then(function (res) {
                        console.log(res);
                        self.Suppliers = res.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

        });

    </script>
    }

