
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
            <h3 class="display-4 text-white text-uppercase">商品上架</h3>
            <div class="d-inline-flex text-white">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 500px;">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="/img/team-4.jpg" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">tibame旅行社</h5>
                                <h5 class="my-3">王先生</h5>
                            </div>
                        </div>

                        <div class="mb-lg-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group list-group-flush rounded-3 ">
                                    <li class="list-group-item justify-content-between align-items-center p-3 ">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Supplier/SupplierProfile"><i class="zmdi zmdi-case"> 廠商資料</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    @*                                  <li class="list-group-item justify-content-between align-items-center p-3">
                                    <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="form-control btn btn-outline-primary ms-1">
                                    <a data-toggle="click" href="/Member/OrderRecord"><i class="zmdi zmdi-chart"> 訂購紀錄</i></a>
                                    </button>
                                    </div>
                                    </li>*@
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Supplier/ProductList"><i class="zmdi zmdi-card-giftcard"> 供應商品</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                登出
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-9">
                        <div class="mb-4">
                            <form action="/Supplier/AddOrder" method="post" enctype="multipart/form-data">
                            <div class="card-body" id="ProductCreate">

                                @*<div class="container col-lg-5 mb-4 col-md-6 ">
                                <div class="col-lg-5 mb-3">
                                <label for="Image" class="form-label">商品圖片上傳</label>
                                <input class="form-control" type="file" id="formFile" onchange="preview()" multiple>
                                <button onclick="clearImage()" class="btn btn-primary mt-3">刪除</button>
                                </div>
                                <img id="frame" src="" class="img-fluid" />
                                </div>
                                <div class="container col-lg-4 mb-4 col-md-6 ">
                                <div class="col-lg-4 mb-3">
                                <label for="Image" class="form-label">商品圖片上傳</label>
                                <input class="form-control" type="file" id="formFile" onchange="preview()" multiple>
                                <button onclick="clearImage()" class="btn btn-primary mt-3">刪除</button>
                                </div>
                                <img id="frame" src="" class="img-fluid" />
                                </div>*@


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card ">
                                                <div class="card-body" id="picpreview">
                                                <label for="Image" class="form-label">商品圖片上傳</label>
                                                    <input type="file" name="files" id="files" onchange="preview()">
                                                <button onclick="clearImage()" class="btn btn-primary mt-3">刪除</button>
                                            </div>
                                            <img id="frame" src="" class="img-fluid" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1">商品介紹</label>
                                                    <textarea class="form-control" title="商品介紹" id="exampleFormControlTextarea1" rows="3" draggable="false"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-"> 產品名稱</i>
                                    </div>
                                    <div class="col-sm-6">
                                            <input type="text" class="form-control" name="ProductName" id="productName">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-"> 產品單位</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-"> 產品種類</i>
                                    </div>
                                    <div class="col-sm-6">
                                            <select class="form-control" name="ProductCategoryId" id="productCategoryId" required>
                                                <option value="0">裝備/商品</option>
                                                <option value="1">旅遊套票</option>
                                                <option value="2">課程</option>
                                    @*        <input type="text" class="form-control" name="ProductCategoryId" id="productCategoryId">*@
                                            </select>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-"> 產品單價</i>
                                    </div>
                                    <div class="col-sm-6">
                                            <input type="text" class="form-control" name="ProductUnitPrice" id="productUnitPrice">
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-"> 上架數量</i>
                                    </div>
                                    <div class="col-sm-6">
                                            <input type="text" class="form-control" name="UnitStock" id="unitStock">
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button type="button" class="btn btn-outline-primary rounded px-3" href="/Member/Register">取消</button>
                                            <button type="submit" class="btn btn-primary rounded submit px-3" >送出</button>
                                    </div>
                                </div>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script>
    var file = document.getElementById("files");
    file.addEventListener("change", function (e) {
        RenderPicPreview(e.target.files);
    });

    function RenderPicPreview(files) {
        var target = document.getElementById("picpreview");
        for (var i = 0; i < files.length; i++) {
            var img = document.createElement("img");
            img.src = URL.createObjectURL(files[i]);
            target.append(img);
        }
    }
</script>
<script>
    var app = new Vue({
        el: "#ProductCreate",
        name: "ProductCreate",
        data: {
            ProductName: null,
            ProductCategoryId: null,
            SupplierId: 2,
            ProductUnitPrice: null,
            UnitStock: 0,
            ProductIntroduce:null,
            ProductStatus: 1,

        },
        methods: {
            insertProduct: function () {
                let _this = this;
                fetch("/Supplier/AddOrder",
                    {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            ProductName: _self.ProductName,
                            ProductCategoryId: _self.ProductCategoryId,
                            SupplierId: _self.SupplierId,
                            ProductUnitPrice: _self.ProductUnitPrice,
                            UnitStock: _self.UnitStock,
                            ProductIntroduce: _self.ProductIntroduce,
                        })
                    })
                    .then(function (response) { return response.json() })
                    .then(function (jsonData) {
                        console.log(jsonData)
                    });
                    window.location.assign("/Supplier/orderList")
            },

        },
    });
</script>

<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }

</script>

