@section Head{
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
}



<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 250px">
            <h3 class="display-4 text-white text-uppercase">供應商品</h3>
            <div class="d-inline-flex text-white">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <div class="row align-items-center" style="min-height: 500px;">

                <div id="VuePage" class="row">
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="/img/team-4.jpg" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">{{CompanyName}}</h5>
                                    <h5 class="my-3">{{ContactName}}</h5>
                                    
                            </div>
                        </div>

                        <div class="mb-lg-0">
                            <div class="card-body p-0 ">
                                <ul class="list-group list-group-flush rounded-3 ">
                                    <li class="list-group-item justify-content-between align-items-center p-3 ">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Supplier/SupplierProfile"><i class="zmdi zmdi-case"> 廠商資料</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    @*                                  <li class="list-group-item justify-content-between align-items-center p-3">
                                    <div class="d-flex justify-content-center mb-2">
                                    <button type="button" class="form-control btn btn-outline-primary ms-1">
                                    <a data-toggle="click" href="/Member/OrderRecord"><i class="zmdi zmdi-chart"> 訂購紀錄</i></a>
                                    </button>
                                    </div>
                                    </li>*@
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                <a data-toggle="click" href="/Supplier/AddOrder"><i class="zmdi zmdi-plus-square"> 產品上架</i></a>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-group-item justify-content-between align-items-center p-3">
                                        <div class="d-flex justify-content-center mb-2">
                                            <button type="button" class="form-control btn btn-outline-primary ms-1">
                                                登出
                                                <i class="zmdi zmdi-arrow-right"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9" id=productlist>
                        <div class="card mb-4">
                            <div class="card-body">

                                <div class="d-flex justify-content-center">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            <div class="toggle-btn">
                                                                <div class="inner-circle"></div>
                                                            </div>
                                                        </th>
                                                        <th>產品名稱</th>
                                                        <th>單價</th>
                                                        <th>庫存量</th>
                                                        <th>總訂單量</th>
                                                        <th>產品推薦度</th>
                                                        <th>產品種類</th>
                                                        <th>產品狀態</th>
                                                        <th>修改/下架</th>
                                                    </tr>
                                                </thead>
                                                <tbody v-for="p in Product" class="table-body">
                                                    <tr class="cell-1">
                                                        <td class="text-center">
                                                            <div class="toggle-btn">
                                                                <div class="inner-circle"></div>
                                                            </div>
                                                        </td>
                                                        <td>{{p.productName}}</td>
                                                        <td>{{p.productUnitPrice}}</td>
                                                        <td>{{p.unitStock}}</td>
                                                        <td>{{p.uniOnOrder}}</td>
                                                        <td>{{p.productRecommendation}}</td>
                                                        <td>{{p.categoryName}}</td>
                                                        <td><span class="badge badge-success">{{p.statusName}}</span></td>
                                                        <td>
                                                            <button type="button" class="form-control btn btn-outline-primary rounded ms-1" v-on:click="revise">
                                                                修改
                                                            </button>
                                                            <button type="button" class="form-control btn btn-outline-primary rounded ms-1" v-on:click="deleteProduct">
                                                                下架
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="d-grid gap-3 d-md-flex justify-content-md-end">
                                                <button type="button" class="btn btn-primary  px-3" href="#">取消</button>
                                                <button type="submit" class="btn btn-primary  submit px-3">送出</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section scripts {
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                ContactName: '',
                CompanyName: '',
                Product:[],
            },
            mounted: function () {
                var self = this;
                axios({
                    method: 'get',
                    url: '/Suppliers/SupplierApi/GetProduct'
                })
                .then(function (res) {
                    console.log(res);
                    self.Product = res.data;
                })
                .catch(function (error) {
                    console.log(error);
                }),
                    axios({
                        method: 'get',
                        url: '/Suppliers/SupplierApi/GetSupplier'
                    })
                    .then(function (res) {
                        var r = res.data;
                        console.log(res);
                        self.ContactName = r.contactName;
                        self.CompanyName = r.companyName;
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            }
        });

    </script>
    }