	<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<div class="container-fluid page-header">
	<div class="container">
		<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 500px">
			<h3 class="display-4 text-white text-uppercase">廠商註冊</h3>
			<div class="d-inline-flex text-white">
			</div>
		</div>
	</div>
</div>
<div class="container-fluid booking mt-5 pb-5">
	<div class="container pb-5">
		<div class="bg-light shadow" style="padding: 30px;">
			<div class="row align-items-center" style="min-height: 500px;">

				<div class="row justify-content-center">
					<div class="col-lg-11 align-items-center">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-account"> 帳號</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入帳號" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-lock"> 密碼</i>
								</div>
								<div class="col-sm-6">
									<input type="password" placeholder="請輸入密碼" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-lock"> 密碼確認</i>
								</div>
								<div class="col-sm-6">
									<input type="password" placeholder="請再次輸入密碼" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-account"> 聯絡人姓名</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入姓名" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-case"> 公司名稱</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入公司名稱" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-case"> 統一編號</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入統一編號" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-account-box-phone"> 傳真</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入傳真號碼" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-email"> 電子信箱</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入電子信箱" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-phone"> 手機號碼</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入手機號碼" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-phone"> 電話號碼</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入電話號碼" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-city-alt"> 郵遞區號</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入郵遞區號" class="form-control">
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-city"> 城市</i>
								</div>
								<div class="col-sm-6">
									<select name="" id="" class="form-control">
										<option value="disabled selected">--請選擇--</option>
										<option value="TP">台北市</option>
										<option value="NTP">新北市</option>
										<option value="TY">桃園市</option>
										<option value="TC">台中市</option>
										<option value="TN">台南市</option>
										<option value="KS">高雄市</option>
										<option value="KL">基隆市</option>
										<option value="HS">新竹市</option>
										<option value="CY">嘉義市</option>
										<option value="HSC">新竹縣</option>
										<option value="ML">苗栗縣</option>
										<option value="CH">彰化縣</option>
										<option value="YL">雲林縣</option>
										<option value="CYC">嘉義縣</option>
										<option value="PT">屏東縣</option>
										<option value="TT">台東縣</option>
										<option value="HL">花蓮縣</option>
										<option value="PTC">屏東縣</option>
										<option value="YL">宜蘭縣</option>
										<option value="NT">南投縣</option>
									</select>
								</div>
							</div>
							<hr>
							<div class="row justify-content-center">
								<div class="col-sm-2 align-self-center">
									<i class="zmdi zmdi-home"> 地址</i>
								</div>
								<div class="col-sm-6">
									<input type="text" placeholder="請輸入地址" class="form-control">
								</div>
							</div>
							<hr>
							<div class="d-grid gap-2 d-md-flex justify-content-center">
								<input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
								<label for="agree-term" class="align-self-end col-sm-3 label-agree-term">我同意 <a href="#" class="term-service">隱私權政策</a></label>
								<button type="submit" class="form-control btn btn-outline-primary rounded submit px-3" v-on:click="DoRegister()">
									註冊
									<i class="zmdi zmdi-arrow-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
