@section Head{
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
}
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 500px">
                <h3 class="display-4 text-white text-uppercase">廠商註冊</h3>
                <div class="d-inline-flex text-white">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid booking mt-5 pb-5">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 30px;">
                <div class="row align-items-center" style="min-height: 500px;">

                    <div class="row justify-content-center">
                        <div class="col-lg-11 align-items-center">
                            <div id="VuePage" class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-account"> 帳號</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入帳號(必填)" class="form-control" v-model.lazy.trim="Account" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-lock"> 密碼</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" placeholder="請輸入密碼(必填)" class="form-control" v-model.lazy="Password" required minlength="8">
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-lock"> 密碼確認</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" placeholder="請再次輸入密碼(必填)" class="form-control" v-model.lazy="ComfirmPassword" required minlength="8">
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-account"> 聯絡人姓名</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入聯絡人姓名(必填)" class="form-control" v-model.lazy="ContactName" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-account"> 公司名稱</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入公司名稱" class="form-control" v-model.lazy="CompanyName">
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-receipt"> 統一編號</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="number" placeholder="請輸入統一編號(必填)" class="form-control" v-model.lazy="TaxId" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-phone"> 傳真號碼</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入傳真號碼" class="form-control" v-model.lazy="Fax" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-email"> 電子信箱</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" placeholder="請輸入電子信箱(必填)" class="form-control" v-model.lazy="Email" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-phone"> 手機號碼</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入手機號碼(必填)" class="form-control" v-model.lazy="CellPhoneNumber" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-phone"> 公司電話號碼</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入公司電話號碼" class="form-control" v-model.lazy="SupplierPhoneNumber">
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-city-alt"> 郵遞區號</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入郵遞區號(必填)" class="form-control" v-model.lazy="PostalCode" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-city"> 城市</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="city" id="" class="form-control" v-model.lazy="City" required>
                                            <option value="" disabled>--請選擇(必填)--</option>
                                            <option value="台北市">台北市</option>
                                            <option value="新北市">新北市</option>
                                            <option value="桃園市">桃園市</option>
                                            <option value="台中市">台中市</option>
                                            <option value="台南市">台南市</option>
                                            <option value="高雄市">高雄市</option>
                                            <option value="基隆市">基隆市</option>
                                            <option value="新竹市">新竹市</option>
                                            <option value="嘉義市">嘉義市</option>
                                            <option value="新竹縣">新竹縣</option>
                                            <option value="苗栗縣">苗栗縣</option>
                                            <option value="彰化縣">彰化縣</option>
                                            <option value="雲林縣">雲林縣</option>
                                            <option value="嘉義縣">嘉義縣</option>
                                            <option value="屏東縣">屏東縣</option>
                                            <option value="台東縣">台東縣</option>
                                            <option value="花蓮縣">花蓮縣</option>
                                            <option value="屏東縣">屏東縣</option>
                                            <option value="宜蘭縣">宜蘭縣</option>
                                            <option value="南投縣">南投縣</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row justify-content-center">
                                    <div class="col-sm-2 align-self-center">
                                        <i class="zmdi zmdi-home"> 地址</i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" placeholder="請輸入地址(必填)" class="form-control" v-model.lazy="Address" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="d-grid gap-2 d-md-flex justify-content-center">
                                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" v-model="isChecked" />
                                    <label for="agree-term" class="align-self-end col-sm-3 label-agree-term">我同意 <a href="#" class="term-service">隱私權政策</a></label>
                                    <button type="submit" class="form-control btn btn-outline-primary rounded submit px-3" v-on:click="SubmitData">
                                        註冊
                                        <i class="zmdi zmdi-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
    <script>
        var VuePage = new Vue({
            el: "#VuePage",
            data: {
                Account:'',
                Email: '',
                Password: '',
                ComfirmPassword: '',
                ContactName: '',
                CompanyName: '',
                TaxId: '',
                Fax: '',
                CellPhoneNumber: '',
                SupplierPhoneNumber: '',
                PostalCode: '',
                Country: '台灣',
                City:'',
                Address: '',
                isChecked: false,
                ErrMsg: '',
                Success: ''
            },
            methods: {
                SubmitData: function () {
                    var self = this;
                    if (self.isChecked == false) {
                        Swal.fire({
                            title: '註冊失敗',
                            text: '請勾選隱私權政策',
                            icon: 'error',
                            timer: 12000
                        });
                        return;
                    }
                    axios({
                        method: 'post',
                        url: '/Suppliers/SupplierApi/Register',
                        data: {
                            Account: self.Account,
                            Email: self.Email,
                            Password: self.Password,
                            ComfirmPassword: self.ComfirmPassword,
                            ContactName: self.ContactName,
                            CompanyName: self.CompanyName,
                            TaxId: self.TaxId,
                            Fax: self.Fax,
                            CellPhoneNumber: self.CellPhoneNumber,
                            SupplierPhoneNumber: self.SupplierPhoneNumber,
                            SupplierPostalCode: self.PostalCode,
                            SupplierCountry: self.Country,
                            SupplierCity: self.City,
                            SupplierAddress: self.Address,
                            ErrMsg: '',
                            Success: ''
                        }
                    })
                        .then(function (response) {
                            self.Success = response.data;
                            Swal.fire({
                                title: self.Success,
                                icon: 'success',
                                timer: 12000
                            }).then((result => {
                                window.location.assign("/Supplier/Verify")
                            }));
                            console.log(response);
                        })
                        .catch(function (error) {
                            self.ErrMsg = error.response.data;
                            Swal.fire({
                                title: '註冊失敗', // TODO 驗證需修改
                                text: '請填入選項',
                                icon: 'error',
                                timer: 12000
                            });
                            console.log(error);
                            return;
                        });
                },
            }
        });

    </script>
    }