<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <form action="/Shop/Pay" method="post">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">付款資訊</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>姓名</label>
                            <input class="form-control" name="MemberName" type="text" placeholder="請輸入付款人姓名">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>電子信箱</label>
                            <input class="form-control" name="Email" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>手機號碼</label>
                            <input class="form-control" name="CellPhoneNumber" type="text" placeholder="0987-654-321">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>市話</label>
                            <input class="form-control" name="PhoneNumber" type="text" placeholder="02-1234-5678">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>地址</label>
                            <input class="form-control" type="text" placeholder="請輸入地址">
                        </div>
                        <h4 class="font-weight-semi-bold mb-4">收件人資訊</h4>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="1" id="samedetail">
                                    <label class="custom-control-label" for="samedetail">與付款資訊相同</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" value="2" id="shipto">
                                    <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">重新填寫收件人</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">收貨資訊</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>姓名</label>
                            <input class="form-control" type="text" placeholder="請輸入付款人姓名">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>電子信箱</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>手機號碼</label>
                            <input class="form-control" type="text" placeholder="0987-654-321">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>市話</label>
                            <input class="form-control" type="text" placeholder="02-1234-5678">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>地址</label>
                            <input class="form-control" type="text" placeholder="請輸入地址">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">訂單詳情</h4>
                    </div>

                    <div class="card-body">
                        <div class="card border-0">
                            <button class="btn justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCheckout" aria-expanded="false" aria-controls="collapseCheckout">
                                商品清單
                                <i class="zmdi zmdi-chevron-down"></i>
                            </button>
                            <div class="collapse" id="collapseCheckout">
                                <div class="d-flex justify-content-between">
                                    <a href="">淺水錶</a>
                                    <p>$123</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a href=""> 淺水錶</a>
                                    <p>$123</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <a href="">淺水錶</a>
                                    <p>$123</p>
                                </div>
                            </div>


                            <hr class="mt-0">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">商品總金額</h6>
                                <h6 class="font-weight-medium">$123</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">優惠碼折抵</h6>
                                <h6 class="font-weight-medium">-$10</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">訂單總金額</h5>
                                <h5 class="font-weight-bold">$123</h5>
                            </div>
                            <hr />
                            <button type="submit" class="btn btn-block btn-primary my-3 py-3">確定</button>
                            <button type="button" class="btn btn-block btn-outline-primary my-3 py-3" href="/Shop/Cart">取消</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>
<!-- Checkout End -->
