@section Head{

}
<style>
    .imgsrc {
        width: 100%;
        height: 300px;
    }

    /* .card {
            background-color: wheat
        }
    */
    .none {
        display: none;
    }
</style>
    <!-- Topbar Start -->
    <div class="container-fluid" style="background-color:#2f4f4f;">
        <div class="row align-items-center justify-content-md-end py-3 px-xl-5">
            <div class="col-lg-6 col-6 text-left ">
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                        <div class="input-group-append">
                            <span class="btn input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
@*                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
*@                <a href="/Shop/Cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <!-- Shop Detail Start -->
<div class="container-fluid py-5" id="productDetail">
    <div v-for="item in products">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div class="position-relative">
                    <img class="imgsrc" :src="item.productPicturePath" style="object-fit: cover;">
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">{{item.productName}}</h3>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(50 Reviews)</small>
                </div>
                <h3 class="font-weight-semi-bold mb-4">${{item.productUnitPrice}}</h3>
                <h6 class="font-weight-semi mb-4">提供廠商：{{item.companyName}}</h6>
                <h6 class="font-weight-semi mb-4">庫存數量：{{item.unitStock}}</h6>
              <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control bg-secondary text-center" value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
<<<<<<< HEAD
                    <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> 加入購物車</button>
=======
                    
                    <a :href="'./AddtoCart?id='+ item.productId" class="Shopping-Cart" onclick="ShowMessage()">
                        <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                    </a>
>>>>>>> Luka
                </div>
            </div>
        </div>
        <hr />
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">商品介紹</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">消費者評價</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">商品介紹</h4>
                            <p>
                                @*超猛商品介紹 以下省略1萬字*@
                            {{item.productIntroduce}}
                            </p>                    
                </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row">
                            <div class="col-md-12 justify-content-center">
                                <h4 class="mb-4">商品相關評論</h4>
                                <div class="media mb-4">
                                    <img src="~/img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                    <div class="media-body">
                                        <h6>時空旅人<small> - <i>01 Jan 2045</i></small></h6>
                                        <div class="text-primary mb-2">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        @*<p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>*@
                                        <p>{{item.productMessageContent}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    </div>
    <!-- Shop Detail End -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/mainshop.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    //Vue.use(VueNumberInput);
    //Vue.component('vue-number-input', VueNumberInput);
    let app = new Vue({
        el: "#productDetail",
        data: {
            products: []
        },
        mounted: function () {
            let self = this;
            fetch("/api/Product/@ViewBag.ProductId")
                //fetch("/api/Product/")
                .then(res => res.json())
                .then(data => (this.products = data))
        }
    })

</script>
<script>
    function ShowMessage() {
        //toastr["success"]("商品已加入購物車！");
        //alert("商品已加入購物車！");
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: '商品已加入購物車！',
            showConfirmButton: false,
            timer: 500
        })
    }
</script>